$primary: #fff;
$secondary: #ebb54a;
$tirtiary: #f1eadc;
$red: #a24936;

$font-text: 2rem;
$font-big-text: 2.5rem;
$font-small: 1.6rem;
$font-small-head: 3rem;
$font-med-head: 4rem;
$font-big-head: 5rem;
