@import 'variables';
@import 'mixins';

.carousel {
  margin: 6rem 0;

  h2 {
    font-size: $font-small-head;
    margin-bottom: 1rem;
  }

  &__container {
    position: relative;
    &__arrows {
      img {
        position: absolute;
        z-index: 20;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @include respond(phone) {
          width: 5rem;
        }

        &:first-of-type {
          left: -8rem;

          @include respond(tab-port) {
            left: -5rem;
          }
          @include respond(phone) {
            left: -2rem;
          }
        }
        &:last-of-type {
          right: -8rem;

          @include respond(tab-port) {
            right: -5rem;
          }
          @include respond(phone) {
            right: -2rem;
          }
        }
      }
    }
    #cards {
      animation: all 1s;
    }
    &__cards {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: auto;
      width: 100vw;
      padding: 6rem 0;
      margin: -6rem 0 -6rem -8rem;

      @include respond(tab-port) {
        margin: -6rem 0 -6rem -5rem;
      }
      @include respond(phone) {
        margin: -6rem 0 -6rem -2rem;
      }
    }
  }
}
