@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  background-color: $tirtiary;
  border-radius: 20px;
  position: relative;
  height: 45rem;
  overflow: hidden;
  margin-bottom: 5rem;

  &__left {
    width: 70%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:nth-of-type(2) {
      text-align: right;

      p {
        margin: 2rem 0 2rem auto;
      }

      a {
        margin: 0 0 0 auto;
      }
    }

    h1 {
      font-size: $font-big-head;
    }
    p {
      font-size: $font-text;
      font-family: Georgia;
      margin: 2rem 0;
      width: 70%;
    }
    a {
      font-size: $font-text;
      background-color: $secondary;
      color: #000;
      text-decoration: none;
      padding: 2rem 5rem;
      display: inline-block;
      font-weight: bold;
      width: 20rem;
    }
  }
  &__right_bottles {
    width: 40%;
    position: relative;
    margin-right: 10rem;
    margin-top: -20rem;

    img {
      height: 110rem;
      object-fit: cover;
      object-position: center;
    }
  }
  &__right_eggs {
    width: 40%;
    position: relative;
    margin: auto 0 auto 5rem;

    img {
      height: 40rem;
      object-fit: cover;
      object-position: center;
    }
  }
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $secondary;
  width: 100vw;
  margin: 10rem 0 0 -8rem;

  padding: 5rem 0;

  &__stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 15rem;
    }
    div {
      h3 {
        font-size: $font-big-text;
      }
      p {
        font-size: $font-text;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
}

.ingredients {
  margin: 10rem 0 20rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;

  &__graphic {
    background-color: $red;
    width: 50rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-radius: 15px;
  }

  &__info {
    position: relative;
    z-index: 10;
    background-color: $tirtiary;
    height: 100%;
    padding: 2rem;
    width: 30rem;
    border-radius: 0 15px 15px 0;

    h2 {
      font-size: $font-small-head;
    }

    ul {
      li {
        font-size: $font-text;

        margin: 1rem 3rem;
      }
    }
  }

  &__gummies {
    position: absolute;
    z-index: 1;
    left: -15rem;
    top: 5rem;
  }
  &__apple {
    position: absolute;
    z-index: 1;
    right: -35rem;
    top: 20rem;
  }
}
